<!-- Footer Partial View: _Footer.cshtml -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="footer_logo"><a href="index.html"><img src="/Content/Asset/images/footer-logo.png"></a></div>
        <div class="input_bt">
            <input type="text" class="mail_bt" placeholder="Email" name="Your Email">
            <span class="subscribe_bt" id="basic-addon2"><a href="https://www.facebook.com/CopyyQ">Subscribe</a></span>
        </div
        <div class="location_main">Help Facebook : <a href="https://www.facebook.com/CopyyQ">Nguyễn Anh Quyết</a></div>
    </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <p class="copyright_text">© 2020 All Rights Reserved. Design by <a href="https://www.facebook.com/CopyyQ">CoppyQ</a></p>
    </div>
</div>
